{{define "footer"}}
<footer>
  <div class="text-sm text-gray-500 mt-8">
    Powered by <a href="https://nixos.org" target="_blank" rel="noopener">Nix</a> and <a href="https://github.com/ptdewey/cedar" target="_blank" rel="noopener">Cedar</a> | {{template "git-info" .}}
  </div>
</footer>
{{end}}
