{{define "header"}}
<header>
  <nav class="flex space-x-5">
    <a href="/" class="no-underline">home</a>
    <a href="/projects" class="no-underline">projects</a>
    <a href="/blog" class="no-underline">blog</a>
    <a href="/coffee" class="no-underline">coffee</a>
    <a href="/music" class="no-underline">music</a>
    <a href="/now" class="no-underline">now</a>
  </nav>
</header>
{{end}}
