{{define "header"}}
<header>
  <nav class="flex space-x-5">
    <a href="/" class="no-underline">home</a>
    <a href="/projects" class="no-underline">projects</a>
    <a href="/writing" class="no-underline">writing</a>
  </nav>
</header>
{{end}}
