pre.chroma {
  display: flex;
  flex-direction: row;
  background-color: #24211e;
  color: #d7c484;
  padding: 0.5rem;
  border-radius: 8px;
  overflow-x: auto;
}

.dark pre.chroma {
  background-color: #1c1a18;
  border: 1px solid #bb7844;
}

.chroma {
  .line {
    display: flex;
  }

  .ln {
    color: #6e665e;
    text-align: right;
    margin-right: 15px;
    font-style: italic;
  }

  .k,
  .kr,
  .nd {
    color: #5f865f;
  }

  .kt {
    color: #bb7844;
  }

  .n {
    color: #d7c484;
  }

  .na,
  .nb,
  .nc {
    color: #bb7844;
  }

  .ne {
    color: #7a9f7a;
  }

  .nf {
    color: #77824a;
  }

  .kn,
  .kd {
    color: #7a9f7a;
  }

  .nl {
    color: #b36b42;
  }

  .si,
  .nt {
    color: #bb7844;
  }

  .nx,
  .nv {
    color: #d7c484;
  }

  .s,
  .sb,
  .s2 {
    color: #b3854d;
  }

  .ss {
    color: #c9a654;
  }

  .kc,
  .m {
    color: #b3664d;
  }

  .o {
    color: #669977;
  }

  .p {
    /* color: #80744d; */
    color: #d7c484;
  }

  .c {
    color: #6e665e;
    font-style: italic;
  }

  .c1,
  .cp,
  .gp {
    color: #6e665e;
  }

  .err {
    background-color: #b36b42;
    color: #c3c3b1;
  }

  .gd {
    background-color: #b36b42;
    color: #212121;
  }

  .gi {
    background-color: #5f865f;
    color: #212121;
  }

  .gh,
  .gu,
  .ge,
  .gs {
    color: #7a9f7a;
  }

  .mi,
  .mf {
    color: #b3664d;
  }

  .gt {
    background-color: #b36b42;
  }
}
