---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Now">
  <article>
      <h2>Now</h2>

      <p>Last updated March 12th, 2026.</p>

      <p><em>Inspired by <a href="https://nownownow.com/about">/now</a></em></p>

      <p>
        Working on <a href="https://alpha.arabica.social">arabica.social</a>, a social coffee journaling application built on atproto. Currently focusing on expanding social features, primarily record correlating and suggestions, as well as new record types (recipes). Arabica is currently in alpha, and is open source<sup><a href="#fn1" id="ref1">1</a></sup>.
      </p>

      <p>
        I also recently set up my blog to publish <a href="https://stnadard.site">standard.site</a> records, meaning my blog is also on atproto (and is technically discoverable on sites like <a href="https://leaflet.pub">leaflet.pub</a> — although it would help if I wrote something more recently than last August). This is one of a few different atproto integrations I built into my website, see <a href="/coffee">/coffee</a> (pulls arabica records from my PDS) and <a href="/music">/music</a> (pulls recent teal.fm records from my PDS).
      </p>

      <hr />
      <ol>
        <li id="fn1">
          Arabica is open source! <a href="https://github.com/arabica-social/arabica">github</a>, <a href="https://tangled.org/arabica.social/arabica">tangled</a> <a href="#ref1">↩</a>
        </li>
      </ol>
  </article>
</Layout>
