@import "tailwindcss";
@source "../templates/**/*.html";
@source "../content/**/*.md";

/* @layer base { */
/*   @font-face { */
/*     font-family: "Iosevka Patrick"; */
/*     src: url("/fonts/patricks-iosevka-regular.ttf") format("truetype"); */
/*     font-weight: normal; */
/*     font-style: normal; */
/*   } */
/**/
/*   @font-face { */
/*     font-family: "Iosevka Patrick"; */
/*     src: url("/fonts/patricks-iosevka-semibold.ttf") format("truetype"); */
/*     font-weight: bold; */
/*     font-style: bold; */
/*   } */
/**/
/*   @font-face { */
/*     font-family: "Iosevka Patrick"; */
/*     src: url("/fonts/patricks-iosevka-italic.ttf") format("truetype"); */
/*     font-weight: normal; */
/*     font-style: italic; */
/*   } */
/* } */

@theme {
  /* --font-display: "Iosevka Patrick", "monospace"; */
  /* --font-display: "Iosevka Patrick", "monospace"; */
  --font-mono: "Iosevka Patrick", monospace;
}

:root {
  --background: #f4f6f2;
  --primary: inherit;
  --link-color: #388e3c;
}

.dark {
  --background: #24211e;
  --primary: #d7c484;
  --green: #77824a;
  --orange: #bb7844;
  --teal: #5f865f;
  --yellow: #c9a654;
  --red: #b3664d;
  --link-color: var(--green);
  --comment-border-color: var(--orange);
  --post-content-color: var(--primary);
  --author-link-color: var(--teal);

  .prose {
    background-color: var(--background);
    color: var(--primary);

    a {
      color: var(--link-color);
    }

    h1 {
      color: var(--teal);
    }

    h2 {
      color: var(--orange);
    }

    h3 {
      color: var(--red);
    }

    h4,
    h5 {
      color: var(--yellow);
    }

    code {
      color: var(--primary);
    }

    hr {
      border-color: var(--teal);
    }
  }

  img {
    border: solid 1px;
    border-color: var(--orange);
  }
}

.bg-background {
  background-color: var(--background);
}

.text-primary {
  color: var(--primary);
}

.link-color p a {
  color: var(--link-color);
}

@plugin '@tailwindcss/typography';
